sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1

langchain
langchain-chroma
streamlit==1.17.0
pypdf2>=3.0.0  # For PyPDFLoader
chromadb>=0.3.26  # Chroma dependency

langchain-ollama
langchain-community
langchain-core
